apiVersion: batch/v1
kind: Job
metadata:
  name: mssql-init
spec:
  template:
    spec:
      containers:
      - name: mssql-init
        image: mcr.microsoft.com/mssql-tools
        env:
        - name: SA_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mssql-secret
              key: SA_PASSWORD
        command: [ "/bin/bash", "-c" ]
        args:
        - |
          echo "Waiting for SQL Server to be ready..."
          until /opt/mssql-tools18/bin/sqlcmd -S mssql -U sa -P "$SA_PASSWORD" -d master -Q "SELECT 1" &>/dev/null
          do
            echo "SQL Server not ready yet, sleeping 5s..."
            sleep 5
          done
          
          echo "SQL Server is ready, running init script on master..."
          /opt/mssql-tools18/bin/sqlcmd -S mssql -U sa -P "$SA_PASSWORD" -d master -i /init/init.sql
      restartPolicy: OnFailure
      volumes:
      - name: init-scripts
        configMap:
          name: mssql-init-scripts
