apiVersion: batch/v1
kind: Job
metadata:
  name: mssql-init
spec:
  backoffLimit: 5
  template:
    spec:
      restartPolicy: OnFailure
      containers:
        - name: init
          image: mcr.microsoft.com/mssql/server:2022-latest
          command:
            - /bin/bash
            - -c
            - |
              /opt/mssql-tools18/bin/sqlcmd \
                -S mssql \
                -U sa \
                -P ${SA_PASSWORD} \
                -C \
                -r 1 \
                -m 1 \
                -i /init/init.sql
          env:
            - name: SA_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mssql-secret
                  key: SA_PASSWORD
          volumeMounts:
            - name: init-sql
              mountPath: /init
      volumes:
        - name: init-sql
          configMap:
            name: mssql-init
