apiVersion: apps/v1
kind: Deployment
metadata:
  name: mssql-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mssql-demo
  template:
    metadata:
      labels:
        app: mssql-demo
    spec:
      containers:
      - name: mssql
        image: mcr.microsoft.com/mssql/server:2019-latest
        ports:
        - containerPort: 1433
        env:
        - name: ACCEPT_EULA
          value: "Y"
        - name: SA_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mssql-secret
              key: SA_PASSWORD
        volumeMounts:
        - name: init-scripts
          mountPath: /docker-entrypoint-initdb.d
      volumes:
      - name: init-scripts
        configMap:
          name: mssql-init-scripts
