apiVersion: v1
kind: ConfigMap
metadata:
  name: mssql-init
data:
  init.sql: |
    IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = 'demo')
    BEGIN
      CREATE DATABASE demo;
    END
    GO
    USE demo;
    GO
    IF NOT EXISTS (
      SELECT * FROM sys.tables WHERE name = 'greetings'
    )
    BEGIN
      CREATE TABLE greetings (
        id INT PRIMARY KEY,
        message VARCHAR(255)
      );
    END
    GO
    IF NOT EXISTS (
      SELECT * FROM greetings WHERE id = 1
    )
    BEGIN
      INSERT INTO greetings VALUES (1, 'Hello from Kubernetes + SQL Server!');
    END
    GO
